In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56, "python", 6,3]

In [2]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56, 'python', 6, 3]

In [5]:
for i in l:
    if type(i) == int:
        pass
        print(i)

1
2
3
4
6
3

In [7]:
for i in l:
    pass

In [16]:
for i in l:
    print(i)  
    if i == 4:
        break

1
2
3
4

In [17]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56, 'python', 6, 3]

In [18]:
for i in l:
    print(i)  
    if i == "kumar":
        break

1
2
3
4
sudh
kumar

In [20]:
for i in l:
    if i == "kumar":
        continue
    print(i)

1
2
3
4
sudh
45.56
python
6
3

In [23]:
for i in l:
    print(i)
else:
    print("final loop")

1
2
3
4
sudh
kumar
45.56
python
6
3
final loop

In [24]:
s = "sudhanshu"

for i in s :
    if i == 'n' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a

In [25]:
s = "sudhanshu"

for i in s :
    if i == 'n' :
        continue
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
s
h
u
print srtring  sudhanshu

In [26]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56, 'python', 6, 3]

In [28]:
i = 0
while i < len(l):
    print( i, l[i])
    i = i+1
    
print("Length of list ", len(l))

0 1
1 2
2 3
3 4
4 sudh
5 kumar
6 45.56
7 python
8 6
9 3
Length of list  10

In [31]:
for i in range(len(l)):
    print(i, "-", l[i])

0 - 1
1 - 2
2 - 3
3 - 4
4 - sudh
5 - kumar
6 - 45.56
7 - python
8 - 6
9 - 3

In [32]:
count = 3

for i in range(count):
    name = input("Enter the name : ")
    print()
    print('You entered ', name)

Enter the name :  amit

You entered  amit

Enter the name :  rohit

You entered  rohit

Enter the name :  anuj

You entered  anuj

In [33]:
name = ""

while name != "Quit":
    name = input("Enter the name (use 'Quit' to stop :")
    if name != "Quit":
        print('You entered ', name)

Enter the name (use 'Quit' to stop : quit

You entered  quit

Enter the name (use 'Quit' to stop : amit

You entered  amit

Enter the name (use 'Quit' to stop : python

You entered  python

Enter the name (use 'Quit' to stop : adskjh

You entered  adskjh

Enter the name (use 'Quit' to stop : e4w

You entered  e4w

Enter the name (use 'Quit' to stop : Quit

In [34]:
# Example
i = 0            

while i < 7:      
    if i > 3 :   
        print(i)     
    print(i)
    i+=1

0
1
2
3
4
4
5
5
6
6

In [35]:
# Example
i = 0            
while i < 7:     
    if i > 3 :   
        pass   
        print(i)     
    i = i + 1
    print(i)

1
2
3
4
4
5
5
6
6
7

In [36]:
stmt = ""

while stmt != 'Quit':
    stmt = input("Enter the stmt (Use 'Quit' to stop )")
    if stmt.startswith("#") :
        continue
    if len(stmt) > 0 :
        print(stmt)

Enter the stmt (Use 'Quit' to stop ) python

python

Enter the stmt (Use 'Quit' to stop ) #python
Enter the stmt (Use 'Quit' to stop ) Quit

Quit

In [37]:
rows = 5

for i in range(rows):   # 0, 1, 2
    # nested loop
    for j in range(i):   # 0,1,2
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4

In [47]:
list(range(3))

[0, 1, 2]

In [48]:
for i in range(4):
    for j in range(3):
        print(j)
    print(i)

0
1
2
0
0
1
2
1
0
1
2
2
0
1
2
3

In [53]:

rows = 5

for i in range(0, rows):
    
    for j in range(0, i + 1):
       
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *
* * * * *

In [58]:
rows = 5
for i in range(rows + 1, 0, -1):
    # nested reverse loop
    for j in range(0, i - 1):
        # display star
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [60]:
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        print("*-", end="")
    print("")

        *-
      *-*-
    *-*-*-
  *-*-*-*-
*-*-*-*-*-

In [ ]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

In [ ]:
# number of rows
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    # process each column
    for j in range(0, k):
        # print space in pyramid
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        # display star
        print("* ", end="")
    print("")


for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

In [ ]:
rows = 5
k = 2 * rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

In [ ]:
rows = 5
num = rows
# reverse for loop
for i in range(rows, 0, -1):
    for j in range(5-i):
        print(" "*j, end = "")
    for j in range(0, i):
        print("&", end=' ')
    print("\r")