In [58]:
class person:

    def __init__ (self, name, age, profession):
        self.name = name
        self.age = age
        self.profession = profession

In [59]:
object = person("ratan", 30, "marketing")

In [60]:
object.name

'ratan'

In [61]:
object.age

30

In [10]:
object1 = person("rohit", 30, "sales")

In [11]:
object1.name

'rohit'

In [12]:
class person:

    def __init__ (self, name, age, profession):
        self.name = name2
        self.age = age
        self.profession = profession

In [13]:
obj = person("rohit", 30, "sales")

NameError: name 'name2' is not defined

In [14]:
class person:

    def __init__ (self, name, age, profession):
        self.age1 = name
        self.last_name = age
        self.profession = profession

In [15]:
obj2 = person("rohit", 30, "sales")

In [16]:
obj2.age1

'rohit'

In [17]:
obj2.last_name

30

In [27]:
class person:

    def __init__ (self, name, age, profession):
        self.name = name
        self.age = age
        self.profession = profession

    def __init__ (self, name, age, profession, hobby):
        self.name = name
        self.age = age
        self.profession = profession
        self.hobby = hobby
        
    def __init__ (self, name, profession):
        self.name = name
        self.profession = profession

In [28]:
o1 = person("rohit",  "sales"  )

In [29]:
o1.profession

'sales'

In [30]:
a = 10
a = 20
a = 30

In [31]:
a

30

In [43]:
class person:

    def __init__ (self, name, dob, profession):
        self.name = name
        self.dob = dob
        self.profession = profession

    def age (self, current_year):
        "my first doc string"
        self.current_year = current_year
        return self.current_year - self.dob

In [44]:
obj = person("rohit", 1990, "sales")

In [45]:
obj.name

'rohit'

In [46]:
obj.age(2026)

36

In [51]:
class person:

    def age (self, current_year, dob):
        "my first doc string"
        self.current_year = current_year
        self.dob = dob
        return self.current_year - self.dob

In [52]:
obj2 = person()

In [53]:
obj2.age(2026, 1990)

36