In [6]:
class person:
    def __init__ (self, name, lastname, profession):
        self.name = name
        self.lastname = lastname
        self.profession = profession

In [7]:
obj= person("rohit", "sharma", "cricketer")

In [3]:
obj.name

'rohit'

In [5]:
class person1:
    
    def __init__ (self, name, lastname, profession):
        self.name = name                 #public variable
        self._lastname = lastname        #protective variable
        self.__profession = profession   #private variable

In [8]:
obj1 = person1("rohit", "sharma", "cricketer")

In [9]:
obj1.name

'rohit'

In [10]:
obj1._lastname

'sharma'

In [11]:
obj1._person1__profession

'cricketer'

In [12]:
import pandas as pd

In [ ]:
pd.

In [13]:
class person1:

    age = 30
    
    def __init__ (self, name, lastname, profession):
        self.name = name                 #public variable
        self._lastname = lastname        #protective variable
        self.__profession = profession   #private variable

In [14]:
obj2 = person1("rohit", "sharma", "cricketer")

In [ ]:
obj2.

In [15]:
age

NameError: name 'age' is not defined

In [16]:
class person1:

    _age = 30
    
    def __init__ (self, name, lastname, profession):
        self.name = name                 #public variable
        self._lastname = lastname        #protective variable
        self.__profession = profession   #private variable

In [17]:
obj2 = person1("rohit", "sharma", "cricketer")

In [18]:
obj2.name

'rohit'

In [19]:
obj2._age

30

In [22]:
class car:

    def __init__(self, brand, model, engine):
        self.brand = brand
        self.model = model
        self.engine = engine

    def _BMW(self):  #protective method
        pass

    def __TATA(self):  #private method
        pass

    def sakoda(self):  #public method
        pass

In [25]:
obje = car("TATA", "harrier", "v4")

In [26]:
obje.sakoda()

In [27]:
obje._BMW()

In [28]:
obje._car__TATA()

## Inheritence

In [29]:
class person4:              # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob



class employee(person4):           #child class
    name = "amit"
    surname = "singh"
    yob = 1991

In [30]:
o1 = person4()

In [31]:
o2 = employee()

In [32]:
o1.age(2026)

36

In [33]:
o2.age(2026)

35

In [34]:
o1.yob

1990

In [35]:
o2.yob

1991

In [42]:
class person4:              # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob



class employee(person4):           #child class
    name = "amit"
    surname = "singh"
    yob = 1991

    def age(self ):    #method override
        return "this is chil method"

In [43]:
o1 = person4()
o2 = employee()

In [44]:
o1.surname

'kumar'

In [45]:
o2.surname

'singh'

In [46]:
o1.age(2026)

36

In [48]:
o2.age()

'this is chil method'

In [ ]:
class car :                 #perent class   
                         # inheritence 
    def __init__(self , body , engin , tyre):
        self.body = body
        self.engin = engin
        self.tyre = tyre

    def milage (self):
        print("milage of this car ") 
        
        
class tata(car):                #child class
    pass

t = tata("solid1" , "v8" , "radial1")
print(t)
print(t.milage())

### multilevel

In [49]:
class bank :             # perents class 
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")


class HDFC_bank(bank):             # child class
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")

class icici(HDFC_bank):          # child class
    pass

In [50]:
object = bank()

In [51]:
object1 = HDFC_bank()

In [52]:
object1.deposite()

this will show your deposited amount

In [53]:
object2 = icici()

In [54]:
object2.transaction()

total transaction value

In [55]:
object2.hdfc_to_icici()

this will show you all the transaction happend to icici throuhg hdfc

### Multiple

In [60]:
class bank :
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")
    def test(self):                          # override code
        print("this is a test method form bank class ")


class HDFC_bank:
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")
    def test(self):           #override code
        print("this is a test method form hdfc bank ")

class ineron_bank:
    def account_status_icici(self):
        print("print a account status in icici ")

class icici(HDFC_bank, bank,  ineron_bank):      # multiple inheritence
    pass

In [61]:
obj4 = icici()

In [62]:
obj4.account_opening()

this will show you your account open status

In [63]:
obj4.test()

this is a test method form hdfc bank

### hirerchical inheritence

In [65]:
# Parent class
class Vehicle:
    def start(self):
        print("Vehicle started")

# Child class 1
class Car(Vehicle):
    def drive(self):
        print("Driving a car")

# Child class 2
class Bike(Vehicle):
    def ride(self):
        print("Riding a bike")

In [66]:
# Creating objects of child classes
c = Car()
b = Bike()

# Access parent method from both child classes
c.start()  # Inherited from Vehicle
c.drive()  # Car-specific method

b.start()  # Inherited from Vehicle
b.ride()   # Bike-specific method

Vehicle started
Driving a car
Vehicle started
Riding a bike

### hybrid inheritence

In [ ]:
# Parent class
class Vehicle:
    def general_info(self):
        print("Vehicles are used for transportation.")

# Child class 1 (inherits from Vehicle)
class Car(Vehicle):
    def car_info(self):
        print("Car has 4 wheels.")

# Child class 2 (inherits from Vehicle)
class Bike(Vehicle):
    def bike_info(self):
        print("Bike has 2 wheels.")

# Grandchild class (inherits from both Car and Bike)
class ElectricBike(Car, Bike):
    def electric_info(self):
        print("Electric bike runs on battery.")

In [ ]:
# Create object of ElectricBike
ebike = ElectricBike()

# Access methods
ebike.general_info()   # From Vehicle
ebike.car_info()       # From Car
ebike.bike_info()      # From Bike
ebike.electric_info()  # Own method