In [29]:
def mathutils(no=1):
    result = (no*2)**3
    return result

In [31]:
mathutils()

8

In [3]:
def mathutils(no):
    result = (no*2)**3
    print(result)

In [4]:
mathutils(3)

216

In [5]:
def mathutils():
    no = int(input())
    result = (no*2)**3
    print(result)

In [6]:
mathutils()

 5

1000

In [7]:
no

NameError: name 'no' is not defined

In [8]:

num = 3   # global 

def mathutils1():
    result = (num*2)**3
    print(result)

In [9]:
mathutils1()

216

In [10]:
def mathutils():
    global no
    no = int(input())
    result = (no*2)**3
    print(result)

In [12]:
mathutils()

 5

1000

In [13]:
no

5

In [15]:
class sport:

    def __init__ (self, name, player, country):
        self.name = name
        self.player = player
        self.country = country

In [17]:
obj = sport("cricket", 11, "Britain")

In [18]:
obj.player

11

In [22]:
class sport:

    board = "ICC"
    
    def __init__ (self, name, player, country):
        self.name = name
        self._player = player
        self.__country = country

    def __mathutils(self, no):
        result = (self.no*2)**3
        return result

In [20]:
sport("cricket", 11, "Britain")

In [21]:
sport.board

'ICC'

In [32]:
class Employee:
    company = "TechCorp"  # Class variable
    employee_count = 0    # Class variable
    
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        Employee.employee_count += 1
    
    @classmethod
    def get_company(cls):  # Class method
        """Returns company name"""
        return cls.company
    
    @classmethod
    def get_employee_count(cls):  # Class method
        """Returns total employee count"""
        return cls.employee_count
    
 
    def create_intern(cls, name):  # Alternative constructor
        """Creates an intern with default salary"""
        return cls(name, 20000)

In [34]:
Employee("abc", 10000)

In [38]:
obj = Employee.create_intern(Employee, "xyz")

In [37]:
Employee.get_company()

'TechCorp'

In [39]:
obj.get_employee_count()

3

In [40]:
class ineuron4:
    def students(self):
        print("print a students details ")

class class_type :
    def student(self):
        print("print the class type of students")

In [41]:
def ineuron_external(a,b):
    a.students123()
    b.student12()

In [42]:
ineuron_external(ineuron4(), class_type())

AttributeError: 'ineuron4' object has no attribute 'students123'

In [45]:
def area(rad):
    import math
    pi = math.pii
    area = 2*pi*rad
    return area

In [46]:
area(20)

AttributeError: module 'math' has no attribute 'pii'

In [47]:
class MathUtils:
    
    @staticmethod
    def add(a, b):  # Static method
        """Adds two numbers"""
        return a + b
    
    @staticmethod
    def is_even(num):  # Static method
        """Checks if number is even"""
        return num % 2 == 0
    
    @staticmethod
    def factorial(n):  # Static method
        """Calculates factorial"""
        if n <= 1:
            return 1
        return n * MathUtils.factorial(n - 1)

In [50]:
MathUtils.is_even(5)

False